<script src="{{ "/assets/javascript/modernizr.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ "/assets/javascript/jquery-1.11.0.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ "/assets/javascript/bootstrap.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ "/assets/javascript/scripts.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ "/assets/javascript/jquery.flexslider.js" | prepend: site.baseurl | prepend: site.url }}"></script>