.logo {
/* background-image: url(http://nycmeshnet.github.io/website/assets/images/logo.png);
 background-repeat: no-repeat;
 padding-left: 40px;
 background-position: 0 5px;
 background-size: 30px 30px;*/
 height: 35px;
 display: inline-block;
 font-size: 30px;
 img {
  @include square(30px);
 }
}

a {
  color: lighten($c1, 40%);
  text-decoration: none;
  &:hover {
    color: $c2;
  }
}
tt {
  background-color: lighten(yellow, 30%);
  color: darken(yellow, 30%);
}

#map {
  width:100%; 
  height: 500px; 
  /* height should follow screeen, 80% */
}
.mainnav {
  float: right;
  margin-top: $g1;
  a { 
    &:before {
      content: "/ ";
    }
  }
    input {
padding: 5px 10px;
border: solid 2px #ccc;
text-align: center;
@include radius(20px);
width: 120px;
background: none;
@include transition;

  }
}
nav {
  position:absolute;
  top: 0px;
  margin-top: $g2;
  font-weight: bold;
  a {
    color: white;
    border: none;
    &:hover {
      text-decoration: none;
      color: white;
    }
  }
  .mainnav input {
border-color: white;
    @include placeholder { 
    color: white; 
    }
    &:active, &:hover, &:focus {
  background-color: white;
      @include placeholder { 
    color: #666; 
    }
    &:active, &:hover, &:focus {
  background-color: white;
      @include placeholder { 
    color: #666; 
    }
}
}
  }
}
footer {
  .mainnav {
    font-weight: bold;
    a {
         &:hover {
      text-decoration: none;
      color: $c2;
    }
    }
     input {
    border-color: #ccc;
          @include placeholder { 
    color: #666; 
    }
    &:active, &:hover, &:focus {
    border-color: $c2;
      @include placeholder { 
    color: $c2; 
    }
}
  }
  }
}


nav, .content > h1, .content > h2, .content > h3, .content > p, .team, footer.footer {

  /* make it responsive */
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.leaflet-overlay-pane, .content {
  @include animate(blur);
}
.leaflet-overlay-pane {
  @include delay(2); 
}
.content {
  @include delay(6);
  position: absolute;
  margin-top: -120px;
  width: 100%;
  h2 {
    margin-top: $g3;
    padding-top: $g3;
    margin-bottom: $g1;
    &:not(:first-of-type) {
      border-top: solid 1px $c1;

    }
    &:first-of-type {
      margin-top: 0;
    }
  }
}
.title {
 padding: $g2 0;
 color: white;
 border-top: solid 1px white;   
 margin-top: 0;
 margin-bottom: 0;
 font-size: 34px;
}


// update mapbox signature
.leaflet-control {
  background: none !important;
  padding: $g1 !important;
  a {
    color: rgba(255,255,255,.7) !important;
    &:hover {
      color: rgba(255,255,255,1) !important;
    }
  }
  .mapbox-improve-map {
    display: none !important;
  }
}

.actionables {
  margin: $g2 auto;
  left: 0;
  right: 0;
  width: 1000px !important;
  @include reset(padding);
  @include reset(list);
  & > li {
   width: 25%;
   display: inline-block;
   vertical-align: top;
   padding: 0 $g3;
   & > .btn {
     display: block;
   }
   h1, h2, h3 {
     &:not(:first-of-type) {
       margin-top: $g1;
       padding-top: $g1;
       border-top: solid 1px $c1;
     }
   }
 }
  .aaa {
       padding: $g1 0 !important;
       border-bottom: solid 1px $c1 !important;
 }
}
.center {
  text-align: center;
}
.btn {
  border: solid 2px $c1;
  @include radius(0);
  color: $c1;
  font-weight: bold;
    padding-top: 6px !important;
  
  &.secondary {
    border-color: lighten($c1, 70%);
    color: lighten($c1, 60%);
  }
  & + .btn {
    margin-top: 5px;
  }
  &:hover {
    border-color: $c2;
    color: $c2;
  }
  &:active {
        padding-top: 7px !important;
    padding-bottom: 5px;
  }
}
.team {
  @include reset(list);
  @include reset(padding);
  li {
    vertical-align: top;
    text-align: center;
    width: 25%;
    display: inline-block;
    padding: 15px;
    border-left: solid 1px $c1;
    border-top: solid 1px $c1;
    &:first-of-type, &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4) {
      border-top: none;
    }
    &:first-of-type, &:nth-of-type(4n+1) {
      border-left: none;
    }
    
  }
  h4 {
    height: 23px;
    font-size: 14px;
    font-weight: bold;
  }
  img {
    margin: 0 auto;
    @include square(100px);
    @include radius(50%);
    margin-bottom: 5px;
    display: block;
    background-color: #ccc;
  }
  .avatar {
    margin: 0 auto;
    @include square(100px);
    @include radius(50%);
    margin-bottom: $g1;
    background-position: center center;
    display: block;
    background-color: #ccc;
  }
  .btn {
    display: block;
    &:not(:first-of-type) {
      border-top: none;
      margin-top: 0;
    }
  }
}

footer.footer {
  color: #666;
  margin-top: $g2;
  padding: $g1 0 $g2 0;
  border-top: solid 1px #ccc;
  a {
    color: #666;
  }
  p {
    display: inline-block;
    width: 50%;
  }
}
.list {
  @include reset;
  @include reset(list);
  li {
    &:not(:first-of-type) {
      padding-top: 5px;
      margin-top: 5px;
      border-top: solid 1px $c1;
    }
  }
}
.date {
  font-size: 80%;
  color: lighten($c1, 20%);
  margin-top: 5px;
  margin-bottom: 0;
}
.qr {
  @include square(170px);
  margin: 0 auto; 
}