.logo {
 background-image: url(/assets/images/logo.png);
 background-repeat: no-repeat;
 padding-left: 40px;
 background-position: 0 5px;
 background-size: 30px 30px;
 height: 35px;
 display: inline-block;
 font-size: 30px;
}


#map {
  width:100%; 
  height: 500px; 
  /* height should follow screeen, 80% */
}
nav {
  position:absolute;
  top: 0px;
  margin-top: $g2;
  font-weight: bold;
  a {
    color: white;
    &:hover {
      text-decoration: none;
color: white;
    }
  }
}
  .navigation {
    float: right;
    margin-top: $g1;
    a { 
      &:not(:first-of-type):before {
        content: "/ ";
      }
    }
  }
nav, .content > h1, .content > h2, .content > h3, .content > p, .team, footer.footer {

/* make it responsive */

  width: 600px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.content {
  position: absolute;
  margin-top: -160px;
  width: 100%;
  h2 {
    margin-top: $g3;
padding-top: $g3;
margin-bottom: $g1;
    &:not(:first-of-type) {
border-top: solid 1px black;

  }
  &:first-of-type {
    margin-top: 0;
  }
  }
}
.title {
 padding: $g2 0;
 color: white;
 border-top: solid 1px white;   
 margin-top: 0;
  margin-bottom: 0;
}


// update mapbox signature
.leaflet-control {
  background: none !important;
  padding: $g1 !important;
  a {
    color: rgba(255,255,255,.7) !important;
    &:hover {
      color: rgba(255,255,255,1) !important;
    }
  }
  .mapbox-improve-map {
    display: none !important;
  }
}

.actionables {
  margin: $g2 auto;
  left: 0;
  right: 0;
  width: 1000px !important;
  @include reset(list);

  & > li {
   width: 25%;

   display: inline-block;
   vertical-align: top;
  }
}

.btn {
  border: solid 2px black;
  @include radius(0);
  color: black;
  font-weight: bold;
}


.team {
  @include reset(list);
  @include reset(padding);
  li {
    width: 25%;
    display: inline-block;
    padding: $g2;
    border-left: solid 1px black;
    border-top: solid 1px black;
    &:first-of-type, &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4) {
      border-top: none;
    }
        &:first-of-type, &:nth-of-type(4n+1) {
      border-left: none;
    }
        
  }
  img {
    margin: 0 auto;
    @include square(100px);
    @include radius(50%);
    margin-bottom: $g1;
    display: block;
    background-color: #ccc;
  }
  .btn {
    display: block;
    &:not(:first-of-type) {
      border-top: none;
    }
  }
}

footer.footer {
  color: #666;
  margin-top: $g2;
  padding: $g1 0 $g2 0;
  border-top: solid 1px #ccc;
  a {
    color: #666;
  }
  p {
    display: inline-block;
    width: 50%;
  }
}
