<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width initial-scale=1">
	<title>Attention</title>
	<link rel="stylesheet" href="{{ "css/main.css" | prepend: site.baseurl | prepend: site.url }}">
</head>
<body>
  <div class="container" style="max-width: 600px">
  <div class="alert alert-warning fade in" style="margin-top: 100px; padding: 20px">
    <h2>Attention: site moved</h2>
    <p>Site is now <a href="http://nycmeshnet.github.io">http://nycmeshnet.github.io</a> and github repository is <a href="https://github.com/nycmeshnet/nycmeshnet.github.io">https://github.com/nycmeshnet/nycmeshnet.github.io</a>.</p>
    <p>Don't ask.</p>
  </div>
</div>
</body>
</html>
