      <div id="newnode" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newnodeLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="newnodeLabel">New Node Form</h4>
          </div><!-- modal-header -->
          <div class="modal-body">
           <tt>Form here</tt>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn secondary pull-left" data-dismiss="modal">Close</a>
            <a href="#" class="btn">Submit</a>
          </div>
        </div>
      </div>
    </div>
    <tt>make modal work, add form</tt>