<div id="newnode"  class="tab-content">
	<div class="tab-pane fade in active" id="newnode0">
	</div>
	<div class="tab-pane fade" id="newnode1">
		<h2>1. Your Info</h2>
		<ul class="progress">
			<li></li>
			<li></li>
			<li></li>
		</ul>
		<p class="pending">Info on why we need it. no back end still.</p>
		<input type="text" placeholder="Name" required="" />
		<input type="text" placeholder="Email" required="" />
		<input type="text" placeholder="Telephone Number" required="" />
		<label><input type="checkbox">I have roof access.</label>
		<a href="#newnode2" class="btn" data-toggle="tab">Next: Pin Node</a>
	</div>
	<div class="tab-pane fade" id="newnode2">
		<h2>2. Find Node</h2>
			<ul class="progress">
			<li></li>
			<li></li>
			<li></li>
		</ul>
		<p class="pending">Instructions here</p>
		<a href="#newnode3" class="btn" data-toggle="tab">Next: Send</a>
	</div>
	<div class="tab-pane fade" id="newnode3">
		<h2>3. Thank You</h2>
			<ul class="progress">
			<li></li>
			<li></li>
			<li></li>
		</ul>
		<p>We will contact you shortly. <a href="#newnode0" data-toggle="tab">Click here</a> to return.</p>
		
	</div>
</div>